{
  "token": "token",
  "join_message": "hmmm....",
  "owners": [
    797386066164187157
  ],
  "prefix": [
    "!"
  ],
  "activity": "games!",
  "activity_type": "playing|watching|listening|competing",
  "status_type": "online|idle|dnd",
  "alexflipnote_api": "nice_token_you_got_here",
  "version": "0.0.1"
}
